[Unit]
Description=PoWA Collector daemon for remote snapshots

[Service]
User=postgres
ExecStart=/usr/bin/powa-collector
ExecReload=kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
